body{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: lightseagreen;
}

h1 {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
}

#calBody {
    width: 40%;
    border: 1px solid lightseagreen;
    padding: 5px;
}

#calScreen {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin: 5px;
    height: 100px;
    background-color: lightseagreen; 
    color: whitesmoke;
}

#calButtons {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

#numParent {
    width: 30%;
}

#opParent {
    width: 30%;
}

#accountParent {
    width: 20%;
}

.accounts:nth-child(1) {
    background-color: salmon;
    width: 90%;
    height: 40px;
    margin: 2px;
}

#note {
    color: salmon;
    margin-top: 20px;
    font-size: 18px;
}